@using SignUp.Models
@using SignUp.Models.PageDto

@model PageDto<BookingModel>

<!DOCTYPE html>
<html lang="en">

@{
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin-page.css">
    <title>Admin Panel</title>
</head>
<body>
    <div class="side-menu">
        <div class="brand-name">
            <h1>Brand</h1>
        </div>
        <ul>
        <li><a class="nav-link" asp-controller="Admin" asp-action="ListBookings">Lịch sử giao dịch</a></li>
        <li><a asp-controller="Admin" asp-action="MemberList"><img src="reading-book (1).png" alt="">&nbsp;<span>Danh sách khách hàng</span></a> </li>
        <li><a asp-controller="AmountTicket" asp-action="AmountTicket"><img src="teacher2.png" alt="">&nbsp;<span>Thống Kê</span></a> </li>
        <li><a><img src="school.png" alt="">&nbsp;<span>Giao dịch</span></a> </li>
        <li>
            <a asp-controller="Account" asp-action="Logout">Logout</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="search">
                    <input type="text" placeholder="Search..">
                    <button type="submit"><img src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t1.15752-9/434091109_950612423102439_157621559416481592_n.png?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=6MgYB-nOVGsAX_u6Yrq&_nc_ht=scontent.fsgn2-5.fna&oh=03_AdQvW0FX3B3itsX1JCdFSzBRw5r0b8JaAsa0dZintGoNDA&oe=6631AA59" alt=""></button>
                </div>
                <div class="user">
                    <img src="notifications.png" alt="">
                    <div class="img-case">
                        <img src="user.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content">

            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>All Bookings</h2>
                        <!-- Add any buttons or links if necessary -->
                    </div>
                    <!-- Dropdown for selecting search type -->
                    <div>
                        <label for="searchType">Search Type:</label>
                        <select id="searchType" name="searchType">
                            <option value=1>Email</option>
                            <option value=2>Flight ID</option>
                            <option value=3>Ticket ID</option>
                        </select>
                        <input type="text" id="searchValue" name="searchValue" />
                        <button onclick="search()">Search</button>

                        <script>
                            function search() {
                                var searchType = document.getElementById('searchType').value;
                                var searchValue = document.getElementById('searchValue').value;
                                var url = '?searchType=' + searchType + '&searchValue=' + searchValue;
                                location.href = url;
                            }
                        </script>
                    </div>
                    <table>
                        <tr>
                            <th>Email</th>
                            @*   <th>Booking ID</th> *@
                            <th>Ticket ID</th>
                            <th>Flight ID</th>
                            <th>Booking Date</th>
                            <th>Amount</th>
                        </tr>
                        @foreach (var booking in Model.Data)
                        {
                            <tr>
                                <td>@booking.Email</td>
                                @*      <td>@booking.BookingID</td> *@
                                <td>@booking.TicketID</td>
                                <td>@booking.FlightID</td>
                                <td>@booking.BookingTime</td>
                                <td>@booking.Amount</td>
                            </tr>
                        }
                    </table>
                </div>


                <!-- Pagination -->
                @if (Model.Meta != null && Model.Meta.PageCount > 1)
                {
                    <div class="pagination">
                        @if (Model.Meta.HasPreviousPage)
                        {
                            <button onclick="location.href='?page=@(Model.Meta.Page - 1)&take=@Model.Meta.Take&searchType=@Model.Meta.SearchType&searchValue=@Model.Meta.SearchValue'">Previous</button>
                        }

                        <button class="@(Model.Meta.Page == 1 ? "active" : "")" onclick="location.href='?page=1&take=@Model.Meta.Take&searchType=@Model.Meta.SearchType&searchValue=@Model.Meta.SearchValue'">1</button>

                        @if (Model.Meta.Page > 2)
                        {
                            if (Model.Meta.Page > 3)
                            {
                                <span>...</span>
                            }
                            <button onclick="location.href='?page=@(Model.Meta.Page - 1)&take=@Model.Meta.Take&searchType=@Model.Meta.SearchType&searchValue=@Model.Meta.SearchValue'">@(Model.Meta.Page - 1)</button>
                        }

                        @if (Model.Meta.Page != 1 && Model.Meta.Page != Model.Meta.PageCount)
                        {
                            <button class="active">@Model.Meta.Page</button>
                        }

                        @if (Model.Meta.Page < Model.Meta.PageCount - 1)
                        {
                            <button onclick="location.href='?page=@(Model.Meta.Page + 1)&take=@Model.Meta.Take&searchType=@Model.Meta.SearchType&searchValue=@Model.Meta.SearchValue'">@(Model.Meta.Page + 1)</button>
                            if (Model.Meta.Page < Model.Meta.PageCount - 2)
                            {
                                <span>...</span>
                            }
                        }

                        <button class="@(Model.Meta.Page == Model.Meta.PageCount ? "active" : "")" onclick="location.href='?page=@Model.Meta.PageCount&take=@Model.Meta.Take&searchType=@Model.Meta.SearchType&searchValue=@Model.Meta.SearchValue'">@Model.Meta.PageCount</button>

                        @if (Model.Meta.HasNextPage)
                        {
                            <button onclick="location.href='?page=@(Model.Meta.Page + 1)&take=@Model.Meta.Take&searchType=@Model.Meta.SearchType&searchValue=@Model.Meta.SearchValue'">Next</button>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    </div>

</body>
</html>
<style>
    a {
        text-decoration: none;
        font-size: 24px;
        padding: 10px 10px;
        color: white;
        display: flex;
        align-items: center;
    }</style>