@{

    ViewData["Title"] = "Thanh Toán Thành Công";
}
<input type="hidden" id="flightId" value="@ViewData["flightId"]" />
<div class="tm-sect" style="padding-top:40px">
    <div class="tm-bg-white ie-container-width-fix-2">
        <div class="container ie-h-align-center-fix">
            <div class="alert alert-success" role="alert">
                Booking Successful!
            </div>
            <div class="col-xs-12 ml-auto mr-auto ie-container-width-fix">
                <h3>Ticket Information:</h3>
                <div class="row">
                    <div class="col mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Full Name:</label>
                        <input type="text" class="form-control" id="name" value="@ViewData["Name"]" readonly />
                    </div>
                    <div class="col mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email:</label>
                        <input type="text" class="form-control" id="email" value="@ViewData["email"]" readonly />
                    </div>
                    <div class="col mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Identification Number:</label>
                        <input type="text" class="form-control" id="identificationNumber" value="@ViewData["identificationNumber"]" readonly />
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Flight:</label>
                        <input type="text" class="form-control" id="flightId" value="@ViewData["flightId"]" readonly />
                    </div>
                    <div class="col mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Seat:</label>
                        <input type="text" class="form-control" id="selectedSeat" value="@ViewData["selectedSeat"]" readonly />
                    </div>
                    <div class="col mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Price:</label>
                        <input type="text" class="form-control" id="amount" value="@ViewData["price"]" readonly />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 ml-auto mr-auto ie-container-width-fix">
                <h3>Hãng máy bay: <img src="https://daily.tanphivan.vn/wp-content/uploads/2018/03/Logo-Vietjet.png" /></h3>
                <input type="hidden" id="flightId" name="flightId" value="@ViewData["flightId"]" />
                <div class="row">
                    <div class="tickchon">
                        <div class="form-group tm-form-element tm-form-element-50">
                            <p id="aircraftName"></p>
                        </div>
                    </div>

                    <div class="diemdi">
                        <div class="form-group tm-form-element tm-form-element-100">
                            <p id="departureAirport"></p>
                        </div>
                        <div class="form-group tm-form-element tm-form-element-100">
                            <p id="arrivalAirport"></p>
                        </div>
                    </div>

                    <div class="ngaydi">
                        <div class="form-group tm-form-element tm-form-element-50">
                            <p id="departureTime"></p>
                        </div>
                        <div class="form-group tm-form-element tm-form-element-50">
                            <p id="arrivalTime"></p>
                        </div>
                    </div>

                    <div class="ngaydi">
                        <div class="form-group tm-form-element tm-form-element-50">
                            <p id="price"></p>
                        </div>
                        <div class="form-group tm-form-element tm-form-element-50">
                            <p id="totalEmptySeat"></p>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" onclick="window.print()">Print Ticket</button>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/BookingSuccess.js"></script> 